<a href="https://colab.research.google.com/github/irinavalenzuela/Applied-Data-Science-Python/blob/main/Week3_dataprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Data Science in Python

# Week 3: More Data Processing with Pandas

## Merging DataFrames

In [ ]:
import pandas as pd

# Create 2 dataframes: staff and students
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR'},
                       {'Name':'Sally','Role':'Course liasion'},
                       {'Name':'James','Role':'Grader'}])

# Index by name
staff_df=staff_df.set_index('Name')

# Student dataframe
student_df=pd.DataFrame([{'Name':'James','School':'Business'},
                         {'Name':'Mike','School':'Law'},
                         {'Name':'Sally','School':'Engineering'}])
#Index by name
student_df=student_df.set_index('Name')

#Print the data frames
print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [ ]:
# Union of these dataframes: merge() and we want outer join
# We want to use the left and right indices as the joining columns

# The first dataframe is the LEFT and the second is the RIGHT

pd.merge(staff_df, student_df, how='outer',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [ ]:
# Intersection: inner

pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [ ]:
# We want a list of all staff regardless of whether they were students or not
# If they are students, we want their details
# We use the LEFT join

pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [ ]:
# Most common way to merge: Using ON parameter (assign a column as the joining one)

# Lets remove index from both dataframes
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()

# Merge using ON parameter
pd.merge(staff_df,student_df,how='right',on='Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [2]:
# Conflic with dataframes

staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 
                          'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 
                          'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 
                          'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 
                            'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 
                            'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 
                            'Location': '512 Wilson Crescent'}])


# Location in staff is the office location and in students is their homes.

# Merge function appends _x (left frame) or _y (right frame) to help differentiate

# We want all staff information regardless of their student status, but we want student
# details as well: LEFT join and on the Name column

pd.merge(staff_df,student_df,how='left',on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [3]:
# Multi-indexing and multiple columns
# Use a list of multiple columns to join keys from both data frames: first and last name

# Example:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 
                          'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])

# We pass a python list ['First Name','Last Name']

pd.merge(staff_df,student_df,how='inner',on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [9]:
# Concatening: joining vertically

# US Departement of Education College Scorecard data
# The data is stored in separate CSV's with each year's record

# NOTE: CSV file we are working is messy, I supress Jupyter warning messages
# and tell read_csv and ignore bad lines: start with cell magic %%capture

%%capture
df_2011 = pd.read_csv("MERGED2011_12_PP.csv", error_bad_lines=False)
df_2012 = pd.read_csv("MERGED2012_13_PP.csv", error_bad_lines=False)
df_2013 = pd.read_csv("MERGED2013_14_PP.csv", error_bad_lines=False)

In [8]:
# Let's get a view

df_2011.head(3)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
1                                     size 309076268

In [10]:
# Length of each data frame

print(len(df_2011))
print(len(df_2012))
print(len(df_2013))

2
2
2

In [11]:
# Put all three dataframes in a list
frames = [df_2011, df_2012, df_2013]

# Pass the list into the concat()

pd.concat(frames)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
1                                     size 309076268
0  oid sha256:55cfd6746fdcc1cb5a29350c5a39c742ae8...
1                                     size 157050855
0  oid sha256:dbef09960b9dd4392f144a05562af3639d8...
1                                     size 157811280

In [12]:
# Let's add the number of rows of the 3 dataframes and see if the numbers match

len(df_2011)+len(df_2012)+len(df_2013)

6

In [13]:
# Concat / Key parameter: set extra level of indices.
# Pass a list of keys to correspond to the dataframes

pd.concat(frames, keys=['2011','2012','2013'])

# The indices as years

               version https://git-lfs.github.com/spec/v1
2011 0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
     1                                     size 309076268
2012 0  oid sha256:55cfd6746fdcc1cb5a29350c5a39c742ae8...
     1                                     size 157050855
2013 0  oid sha256:dbef09960b9dd4392f144a05562af3639d8...
     1                                     size 157811280

## Pandas Idioms

In [3]:
# Pandorable: pandas's idioms

import pandas as pd
import numpy as np

# Bring some timing functionality from the timeit module
import timeit

# Census data from US
df = pd.read_csv('census.csv')
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
0      40       3         6  ...     1.383282     1.724718    0.712594
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861

[5 rows x 100 columns]

In [4]:
# METHOD CHAINING
# Every method on an object returns a reference to that object
# Condense many different operations into one statement of code

# Pandorable way to write code with method chaining
# This code:
# pull out the state and city names as a multiple index, for data that has
# a summary level of 50. Then rename a column

# Start the statement with (): tells python the code statement will be over multiple lines

(df.where(df['SUMLEV']==50) #where function and pass a boolean mask 
    .dropna() # with the results of where function, we drop miss values
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'}))

                           SUMLEV  REGION  ...  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME                            ...
Alabama Autauga County       50.0     3.0  ...     2.592270    -2.187333
        Baldwin County       50.0     3.0  ...    20.317142    18.293499
        Barbour County       50.0     3.0  ...    -3.978583   -10.543299
        Bibb County          50.0     3.0  ...     0.754533     1.107861
        Blount County        50.0     3.0  ...    -1.577232    -0.884411
...                           ...     ...  ...          ...          ...
Wyoming Sweetwater County    50.0     4.0  ...   -14.075283   -14.070195
        Teton County         50.0     4.0  ...    16.308671     1.520747
        Uinta County         50.0     4.0  ...   -14.740608   -12.606351
        Washakie County      50.0     4.0  ...   -18.020168     1.441961
        Weston County        50.0     4.0  ...     1.533635     6.935294

[3142 rows x 98 columns]

In [5]:
# Traditional, non-pandorable way of writing the previous code

# 1st create a new dataframe from the original
df = df[df['SUMLEV']==50] # indexing operator [] which drops nans

# Update the df to have new index, inplace=True
df.set_index(['STNAME','CTYNAME'],inplace=True)

# Set the columns name
df.rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'})

                           SUMLEV  REGION  ...  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME                            ...
Alabama Autauga County         50       3  ...     2.592270    -2.187333
        Baldwin County         50       3  ...    20.317142    18.293499
        Barbour County         50       3  ...    -3.978583   -10.543299
        Bibb County            50       3  ...     0.754533     1.107861
        Blount County          50       3  ...    -1.577232    -0.884411
...                           ...     ...  ...          ...          ...
Wyoming Sweetwater County      50       4  ...   -14.075283   -14.070195
        Teton County           50       4  ...    16.308671     1.520747
        Uinta County           50       4  ...   -14.740608   -12.606351
        Washakie County        50       4  ...   -18.020168     1.441961
        Weston County          50       4  ...     1.533635     6.935294

[3142 rows x 98 columns]

In [6]:
# Time both methods: put into a function and pass the function into the timeit function

# Function for the first approach. Return all 
def first_approach():
  global df
  # Pass the code right here
  return (df.where(df['SUMLEV']==50) 
              .dropna() 
              .set_index(['STNAME','CTYNAME'])
              .rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'}))
  
# Read in our new dataser

df = pd.read_csv('census.csv')

# Lets run it

timeit.timeit(first_approach,number=10) # 10 times this function will be run

0.2246381019999717

In [7]:
# Second approach

def second_approach():
  global df
  new_df = df[df['SUMLEV']==50] 
  new_df.set_index(['STNAME','CTYNAME'],inplace=True)
  return new_df.rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'})

df = pd.read_csv('census.csv')

timeit.timeit(second_approach, number=10)

0.06699047899996913