<a href="https://colab.research.google.com/github/irinavalenzuela/Applied-Data-Science-Python/blob/main/Week2_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Data Science in Python

## Week 2: Introduction to Pandas and Series Data

## The Series Data Structure

A way to visualize is in two columns. One is the special index and the other is the actual data. The data column has a label on its own

In [24]:
# Lets import pandas

import pandas as pd

In [25]:
# List of 3 students

students = ['Alice', 'Jack', 'Molly']

# Call the Series function in pandas and pass in the students

pd.Series(students) # Result is a series object

0    Alice
1     Jack
2    Molly
dtype: object

In [26]:
# List of numbers

numbers = [1,2,3]

# Turn into Series

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [27]:
# Missing data
# Missing data for objects is None
# Missing data for numbers is NaN (= Not a Number). They are treated different

# List of students, and the last one as None

students = ['Alice', 'Jack', None]

pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [28]:
# List of numbers and put None. Panda converts it to NaN

numbers = [1 , 2, None]

pd.Series(numbers) 

# The type is float64. When a numberical variables is not int, but float, then it is likely that it has missing vlues

0    1.0
1    2.0
2    NaN
dtype: float64

In [29]:
# Nan is not equivalent to None for Pandas
# when you see NaN, it's meaning is similar to None, but it's a 
# numeric value and treated differently for efficiency reasons.

# To test for a present of Not a Number, use the isnan() from the numpy library

import numpy as np

np.isnan(np.nan)

True

In [ ]:
# Students and their class
students_scores

## DataFrame Data Structure

In [ ]:
# Lets import Pandas
import pandas as pd

In [ ]:
# Create series of school records for students
record1 = pd.Series({'Name':'Alice','Class':'Physics','Score':85})
record2 = pd.Series({'Name':'Jack','Class':'Chemistry','Score':82})
record3 = pd.Series({'Name':'Helen','Class':'Biology','Score':90})

In [ ]:
# Dataframe is index. Group of series
# Each series represent a row of data

df = pd.DataFrame([record1, record2, record3], index=['school1','school2','school1'])

df.head()

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [ ]:
# DataFrame is 2 dimensional
# Extract data using .iloc or .loc attributes

df.loc['school2']

Name          Jack
Class    Chemistry
Score           82
Name: school2, dtype: object

In [ ]:
# Check the data type

type(df.loc['school2'])

pandas.core.series.Series