<a href="https://colab.research.google.com/github/irinavalenzuela/Applied-Data-Science-Python/blob/main/Week4_Data_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Data Science in Python

## Week 4: Beyond Data Manipulation

## Basic Statistical Testing

In [3]:
# We use statistics in a lot of different ways in data science, and on this lecture, I want to refresh your
# knowledge of hypothesis testing, which is a core data analysis activity behind experimentation. The goal of
# hypothesis testing is to determine if, for instance, the two different conditions we have in an experiment 
# have resulted in different impacts

# Let's import our usual numpy and pandas libraries
import pandas as pd
import numpy as np

# Now let's bring in some new libraries from scipy
from scipy import stats

In [ ]:
# Now, scipy is an interesting collection of libraries for data science and you'll use most or perpahs all of
# these libraries. It includes numpy and pandas, but also plotting libraries such as matplotlib, and a
# number of scientific library functions as well

In [4]:
# When we do hypothesis testing, we actually have two statements of interest: the first is our actual
# explanation, which we call the alternative hypothesis, and the second is that the explanation we have is not
# sufficient, and we call this the null hypothesis. Our actual testing method is to determine whether the null
# hypothesis is true or not. If we find that there is a difference between groups, then we can reject the null
# hypothesis and we accept our alternative.

# Let's see an example of this; we're going to use some grade data
df = pd.read_csv('grades.csv')
df.head()

                             student_id  ...         assignment6_submission
0  B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1  98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
2  D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3  FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
4  5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000

[5 rows x 13 columns]

In [5]:
# If we take a look at the data frame inside, we see we have six different assignments. Lets look at some
# summary statistics for this DataFrame
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [7]:
# For the purpose of this lecture, let's segment this population into two pieces. Let's say those who finish
# the first assignment by the end of December 2015, we'll call them early finishers, and those who finish it 
# sometime after that, we'll call them late finishers.

early_finishers=df[pd.to_datetime(df['assignment1_submission'])<'2016']

print(type(early_finishers['assignment1_submission']))

early_finishers.head()

<class 'pandas.core.series.Series'>

                             student_id  ...         assignment6_submission
0  B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1  98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
4  5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000
5  D09000A0-827B-C0FF-3433-BF8FF286E15B  ...  2016-01-20 19:54:46.166000000
8  C9D51293-BD58-F113-4167-A7C0BAFCB6E5  ...  2016-01-19 15:24:31.060000000

[5 rows x 13 columns]

In [12]:
# how would you go about getting the late_finishers dataframe?

late_finishers2=df[pd.to_datetime(df['assignment1_submission'])>'2016']

late_finishers2.head()

                             student_id  ...         assignment6_submission
2  D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3  FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
6  3217BE3F-E4B0-C3B6-9F64-462456819CE4  ...  2016-03-23 14:02:00.987000000
7  F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F  ...  2016-02-18 08:35:04.796000000
9  E2C617C2-4654-622C-AB50-1550C4BE42A0  ...  2016-03-30 20:33:13.554000000

[5 rows x 13 columns]

In [13]:
# Here's my solution. First, the dataframe df and the early_finishers share index values, so I really just
# want everything in the df which is not in early_finishers

late_finishers=df[~df.index.isin(early_finishers.index)]

late_finishers.head()

                             student_id  ...         assignment6_submission
2  D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3  FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
6  3217BE3F-E4B0-C3B6-9F64-462456819CE4  ...  2016-03-23 14:02:00.987000000
7  F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F  ...  2016-02-18 08:35:04.796000000
9  E2C617C2-4654-622C-AB50-1550C4BE42A0  ...  2016-03-30 20:33:13.554000000

[5 rows x 13 columns]

In [ ]:
# There are lots of other ways to do this. For instance, you could just copy and paste the first projection
# and change the sign from less than to greater than or equal to. This is ok, but if you decide you want to
# change the date down the road you have to remember to change it in two places. You could also do a join of
# the dataframe df with early_finishers - if you do a left join you only keep the items in the left dataframe,
# so this would have been a good answer. You also could have written a function that determines if someone is
# early or late, and then called .apply() on the dataframe and added a new column to the dataframe. This is a
# pretty reasonable answer as well.

In [14]:
# As you've seen, the pandas data frame object has a variety of statistical functions associated with it. If
# we call the mean function directly on the data frame, we see that each of the means for the assignments are
# calculated. 

# Let's compare the means for our two populations

print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [15]:
# Ok, these look pretty similar. But, are they the same? What do we mean by similar? This is where the
# students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well
# as the null hypothesis ("These are the same") and then test that null hypothesis.

# When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a
# chance we're willing to accept. This significance level is typically called alpha. 

# For this example, let's use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
# arbitrary.

# The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
# in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
# populations are not related to one another). 

# The result of ttest_index() are the t-statistic and a p-value.
# It's this latter value, the probability, which is most important to us, as it indicates the chance (between
# 0 and 1) of our null hypothesis being True.

# Let's bring in our ttest_ind function
from scipy.stats import ttest_ind 

# Let's run this function with our two populations, looking at the assignment 1 grades
ttest_ind(early_finishers['assignment1_grade'],late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [ ]:
# So here we see that the probability is 0.18, and this is above our alpha value of 0.05. This means that we
# cannot reject the null hypothesis. The null hypothesis was that the two populations are the same, and we
# don't have enough certainty in our evidence (because it is greater than alpha) to come to a conclusion to
# the contrary. This doesn't mean that we have proven the populations are the same.

In [17]:
# Why don't we check the other assignment grades?
print(ttest_ind(early_finishers['assignment2_grade'],late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'],late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'],late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'],late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'],late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [ ]:
# Ok, so it looks like in this data we do not have enough evidence to suggest the populations differ with
# respect to grade. Let's take a look at those p-values for a moment though, because they are saying things
# that can inform experimental design down the road. 

# For instance, one of the assignments, assignment 3, has a p-value around 0.1. 
# This means that if we accepted a level of chance similarity of 11% this would have been
# considered statistically significant. As a research, this would suggest to me that there is something here
# worth considering following up on. For instance, if we had a small number of participants (we don't) or if
# there was something unique about this assignment as it relates to our experiment (whatever it was) then
# there may be followup experiments we could run.

In [18]:
# P-values have come under fire recently for being insuficient for telling us enough about the interactions
# which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used
# more regularly. One issue with p-values is that as you run more tests you are likely to get a value which
# is statistically significant just by chance.

# Lets see a simulation of this. First, lets create a data frame of 100 columns, each with 100 numbers

df1=pd.DataFrame([np.random.random(100) for x in range(100)])  # iterate over 100 columns

df1.head()

         0         1         2   ...        97        98        99
0  0.818277  0.233608  0.518128  ...  0.031350  0.321844  0.026569
1  0.511350  0.850737  0.622293  ...  0.345446  0.596038  0.152388
2  0.671104  0.680082  0.214162  ...  0.960571  0.279017  0.584619
3  0.807513  0.586911  0.564979  ...  0.534692  0.624827  0.215953
4  0.640545  0.952519  0.124015  ...  0.360091  0.604852  0.833728

[5 rows x 100 columns]

In [20]:
# Ok, let's create a second dataframe

df2=pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

         0         1         2   ...        97        98        99
0  0.421163  0.497285  0.257804  ...  0.147170  0.539485  0.344606
1  0.014441  0.509250  0.858099  ...  0.575636  0.652884  0.845353
2  0.644802  0.002848  0.050685  ...  0.193944  0.928602  0.758451
3  0.494647  0.148745  0.096672  ...  0.756038  0.504018  0.304725
4  0.633099  0.396085  0.478736  ...  0.086636  0.904248  0.025941

[5 rows x 100 columns]

In [ ]:
# Are these two DataFrames the same? Maybe a better question is, for a given row inside of df1, is it the same
# as the row inside df2?

# Let's take a look. Let's say our critical value is 0.1, or and alpha of 10%. And we're going to compare each
# column in df1 to the same numbered column in df2. And we'll report when the p-value isn't less than 10%,
# which means that we have sufficient evidence to say that the columns are different.

In [22]:
# Let's write this in a function called test_columns
def test_columns(alpha=0.1):
    # I want to keep track of how many differ
    num_diff=0
    # And now we can just iterate over the columns
    for col in df1.columns:
        # we can run out ttest_ind between the two dataframes
        teststat,pval=ttest_ind(df1[col], df2[col])
        # and we check the pvalue versus the alpha
        if pval<=alpha:
            # And now we'll just print out if they are different and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    # and let's print out some summary stats
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

# And now lets actually run this
test_columns()

Col 2 is statistically significantly different at alpha=0.1, pval=0.09698006670238109
Col 11 is statistically significantly different at alpha=0.1, pval=0.015381448599358541
Col 15 is statistically significantly different at alpha=0.1, pval=0.024371446048831673
Col 21 is statistically significantly different at alpha=0.1, pval=0.0022989698051481184
Col 30 is statistically significantly different at alpha=0.1, pval=0.0633174131099543
Col 31 is statistically significantly different at alpha=0.1, pval=0.08063650051947202
Col 76 is statistically significantly different at alpha=0.1, pval=0.08882686508936156
Total number different was 7, which is 7.000000000000001%

In [24]:
# Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
# lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
# that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.

# The more random comparisons you do, the more will just happen to be the same by chance. In this example, we
# checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

# We can test some other alpha values as well

test_columns(0.05)

Col 11 is statistically significantly different at alpha=0.05, pval=0.015381448599358541
Col 15 is statistically significantly different at alpha=0.05, pval=0.024371446048831673
Col 21 is statistically significantly different at alpha=0.05, pval=0.0022989698051481184
Total number different was 3, which is 3.0%

In [25]:
# So, keep this in mind when you are doing statistical tests like the t-test which has a p-value. Understand
# that this p-value isn't magic, that it's a threshold for you when reporting results and trying to answer
# your hypothesis. What's a reasonable threshold? Depends on your question, and you need to engage domain
# experts to better understand what they would consider significant.

# Just for fun, lets recreate that second dataframe using a non-normal distribution, I'll arbitrarily chose
# chi squared

df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])

test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.0006365749161282661
Col 1 is statistically significantly different at alpha=0.1, pval=0.035205551893638005
Col 2 is statistically significantly different at alpha=0.1, pval=0.00031110260844063105
Col 3 is statistically significantly different at alpha=0.1, pval=0.0005830473894458481
Col 4 is statistically significantly different at alpha=0.1, pval=0.0007418892315833164
Col 5 is statistically significantly different at alpha=0.1, pval=3.377054367319157e-05
Col 6 is statistically significantly different at alpha=0.1, pval=0.06445329665785245
Col 7 is statistically significantly different at alpha=0.1, pval=0.0009403914506916738
Col 8 is statistically significantly different at alpha=0.1, pval=0.0849261720137337
Col 9 is statistically significantly different at alpha=0.1, pval=5.9299568129655804e-05
Col 10 is statistically significantly different at alpha=0.1, pval=0.0006667310094725716
Col 11 is statistically significantly different at alpha=0.1, pval=0.0012711202737036855
Col 12 is statistically significantly different at alpha=0.1, pval=0.001471088261911517
Col 13 is statistically significantly different at alpha=0.1, pval=0.0046369859049416665
Col 14 is statistically significantly different at alpha=0.1, pval=0.0002780428619687583
Col 15 is statistically significantly different at alpha=0.1, pval=0.03355168106318745
Col 16 is statistically significantly different at alpha=0.1, pval=0.0005019449003854717
Col 17 is statistically significantly different at alpha=0.1, pval=2.1699397638041204e-05
Col 18 is statistically significantly different at alpha=0.1, pval=0.0016380491731678593
Col 19 is statistically significantly different at alpha=0.1, pval=0.008022452535184884
Col 20 is statistically significantly different at alpha=0.1, pval=0.0005166342680982007
Col 21 is statistically significantly different at alpha=0.1, pval=0.004051186322339947
Col 22 is statistically significantly different at alpha=0.1, pval=0.0037984815058214956
Col 23 is statistically significantly different at alpha=0.1, pval=0.0018379309218149189
Col 24 is statistically significantly different at alpha=0.1, pval=2.750466023139946e-05
Col 25 is statistically significantly different at alpha=0.1, pval=6.189280767933203e-08
Col 26 is statistically significantly different at alpha=0.1, pval=0.0007599487559958458
Col 27 is statistically significantly different at alpha=0.1, pval=0.011205975248040819
Col 28 is statistically significantly different at alpha=0.1, pval=0.0015932269061517284
Col 29 is statistically significantly different at alpha=0.1, pval=0.04428650906571983
Col 30 is statistically significantly different at alpha=0.1, pval=0.0034997006880430987
Col 31 is statistically significantly different at alpha=0.1, pval=0.0014542792659763485
Col 32 is statistically significantly different at alpha=0.1, pval=0.0005150034734040403
Col 33 is statistically significantly different at alpha=0.1, pval=0.0015259771160710262
Col 34 is statistically significantly different at alpha=0.1, pval=0.019241049799144122
Col 35 is statistically significantly different at alpha=0.1, pval=0.015041308807838109
Col 36 is statistically significantly different at alpha=0.1, pval=1.6043526150327705e-05
Col 37 is statistically significantly different at alpha=0.1, pval=4.393040056197504e-05
Col 38 is statistically significantly different at alpha=0.1, pval=0.00014957998937070244
Col 39 is statistically significantly different at alpha=0.1, pval=4.6292700533292436e-05
Col 40 is statistically significantly different at alpha=0.1, pval=0.004741387944248348
Col 41 is statistically significantly different at alpha=0.1, pval=0.005969256855720245
Col 42 is statistically significantly different at alpha=0.1, pval=0.0003939521113968427
Col 43 is statistically significantly different at alpha=0.1, pval=0.035295063168689515
Col 44 is statistically significantly different at alpha=0.1, pval=0.0015372975422011496
Col 45 is statistically significantly different at alpha=0.1, pval=0.0013498634129614547
Col 46 is statistically significantly different at alpha=0.1, pval=0.0008803451875325565
Col 47 is statistically significantly different at alpha=0.1, pval=0.0012169077614567888
Col 48 is statistically significantly different at alpha=0.1, pval=0.001608050054381792
Col 49 is statistically significantly different at alpha=0.1, pval=0.000980053090252006
Col 50 is statistically significantly different at alpha=0.1, pval=0.0003443853013577841
Col 51 is statistically significantly different at alpha=0.1, pval=8.354562731172945e-05
Col 52 is statistically significantly different at alpha=0.1, pval=0.011635252860882331
Col 53 is statistically significantly different at alpha=0.1, pval=2.11701063860094e-05
Col 54 is statistically significantly different at alpha=0.1, pval=0.002369387854140423
Col 55 is statistically significantly different at alpha=0.1, pval=0.00015826869298285264
Col 56 is statistically significantly different at alpha=0.1, pval=0.0002345724185537829
Col 57 is statistically significantly different at alpha=0.1, pval=0.0014282961047654742
Col 58 is statistically significantly different at alpha=0.1, pval=0.00030088454207874107
Col 59 is statistically significantly different at alpha=0.1, pval=0.00563777427563937
Col 60 is statistically significantly different at alpha=0.1, pval=3.461141902536942e-05
Col 61 is statistically significantly different at alpha=0.1, pval=0.003836172446660091
Col 62 is statistically significantly different at alpha=0.1, pval=0.0037195334273469566
Col 63 is statistically significantly different at alpha=0.1, pval=0.0006566288490695237
Col 64 is statistically significantly different at alpha=0.1, pval=0.04884716050617307
Col 65 is statistically significantly different at alpha=0.1, pval=0.00010534443373269065
Col 66 is statistically significantly different at alpha=0.1, pval=0.08265282466879015
Col 67 is statistically significantly different at alpha=0.1, pval=0.00020572505579400922
Col 68 is statistically significantly different at alpha=0.1, pval=0.003000329018572527
Col 69 is statistically significantly different at alpha=0.1, pval=0.0001449785348858119
Col 70 is statistically significantly different at alpha=0.1, pval=0.00019144392721208192
Col 71 is statistically significantly different at alpha=0.1, pval=0.0015522884863192743
Col 72 is statistically significantly different at alpha=0.1, pval=3.255491880579434e-06
Col 73 is statistically significantly different at alpha=0.1, pval=0.0016775354462654302
Col 74 is statistically significantly different at alpha=0.1, pval=1.2680188221486075e-07
Col 75 is statistically significantly different at alpha=0.1, pval=3.565968375529235e-05
Col 76 is statistically significantly different at alpha=0.1, pval=0.0005478454083860692
Col 77 is statistically significantly different at alpha=0.1, pval=2.4347909743066574e-05
Col 78 is statistically significantly different at alpha=0.1, pval=5.328327907150442e-07
Col 79 is statistically significantly different at alpha=0.1, pval=0.00023310778570107755
Col 80 is statistically significantly different at alpha=0.1, pval=0.001645723248093454
Col 81 is statistically significantly different at alpha=0.1, pval=5.829064652181559e-05
Col 82 is statistically significantly different at alpha=0.1, pval=0.0002268148454211555
Col 83 is statistically significantly different at alpha=0.1, pval=1.4867060430676165e-05
Col 84 is statistically significantly different at alpha=0.1, pval=0.000114867595457479
Col 85 is statistically significantly different at alpha=0.1, pval=0.002048584618543479
Col 86 is statistically significantly different at alpha=0.1, pval=0.0009193783551571409
Col 87 is statistically significantly different at alpha=0.1, pval=0.008506147979635472
Col 88 is statistically significantly different at alpha=0.1, pval=4.6323261240743974e-06
Col 89 is statistically significantly different at alpha=0.1, pval=0.025208432103584286
Col 90 is statistically significantly different at alpha=0.1, pval=0.00015015994920270325
Col 91 is statistically significantly different at alpha=0.1, pval=7.68211163366654e-05
Col 92 is statistically significantly different at alpha=0.1, pval=0.007763139096024458
Col 93 is statistically significantly different at alpha=0.1, pval=0.0001610128424296233
Col 94 is statistically significantly different at alpha=0.1, pval=0.00030929119891289923
Col 95 is statistically significantly different at alpha=0.1, pval=0.0005780846661270746
Col 96 is statistically significantly different at alpha=0.1, pval=0.00032889103906465016
Col 97 is statistically significantly different at alpha=0.1, pval=0.00047178680981676977
Col 98 is statistically significantly different at alpha=0.1, pval=0.0007439384341718427
Col 99 is statistically significantly different at alpha=0.1, pval=0.0008752102450675279
Total number different was 100, which is 100.0%