<a href="https://colab.research.google.com/github/irinavalenzuela/Applied-Data-Science-Python/blob/main/Week3_dataprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Data Science in Python

# Week 3: More Data Processing with Pandas

## Merging DataFrames

In [ ]:
import pandas as pd

# Create 2 dataframes: staff and students
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR'},
                       {'Name':'Sally','Role':'Course liasion'},
                       {'Name':'James','Role':'Grader'}])

# Index by name
staff_df=staff_df.set_index('Name')

# Student dataframe
student_df=pd.DataFrame([{'Name':'James','School':'Business'},
                         {'Name':'Mike','School':'Law'},
                         {'Name':'Sally','School':'Engineering'}])
#Index by name
student_df=student_df.set_index('Name')

#Print the data frames
print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [ ]:
# Union of these dataframes: merge() and we want outer join
# We want to use the left and right indices as the joining columns

# The first dataframe is the LEFT and the second is the RIGHT

pd.merge(staff_df, student_df, how='outer',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [ ]:
# Intersection: inner

pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [ ]:
# We want a list of all staff regardless of whether they were students or not
# If they are students, we want their details
# We use the LEFT join

pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [ ]:
# Most common way to merge: Using ON parameter (assign a column as the joining one)

# Lets remove index from both dataframes
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()

# Merge using ON parameter
pd.merge(staff_df,student_df,how='right',on='Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [ ]:
# Conflic with dataframes

staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 
                          'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 
                          'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 
                          'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 
                            'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 
                            'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 
                            'Location': '512 Wilson Crescent'}])


# Location in staff is the office location and in students is their homes.

# Merge function appends _x (left frame) or _y (right frame) to help differentiate

# We want all staff information regardless of their student status, but we want student
# details as well: LEFT join and on the Name column

pd.merge(staff_df,student_df,how='left',on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [ ]:
# Multi-indexing and multiple columns
# Use a list of multiple columns to join keys from both data frames: first and last name

# Example:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 
                          'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])

# We pass a python list ['First Name','Last Name']

pd.merge(staff_df,student_df,how='inner',on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [ ]:
# Concatening: joining vertically

# US Departement of Education College Scorecard data
# The data is stored in separate CSV's with each year's record

# NOTE: CSV file we are working is messy, I supress Jupyter warning messages
# and tell read_csv and ignore bad lines: start with cell magic %%capture

%%capture
df_2011 = pd.read_csv("MERGED2011_12_PP.csv", error_bad_lines=False)
df_2012 = pd.read_csv("MERGED2012_13_PP.csv", error_bad_lines=False)
df_2013 = pd.read_csv("MERGED2013_14_PP.csv", error_bad_lines=False)

In [ ]:
# Let's get a view

df_2011.head(3)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
1                                     size 309076268

In [ ]:
# Length of each data frame

print(len(df_2011))
print(len(df_2012))
print(len(df_2013))

2
2
2

In [ ]:
# Put all three dataframes in a list
frames = [df_2011, df_2012, df_2013]

# Pass the list into the concat()

pd.concat(frames)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
1                                     size 309076268
0  oid sha256:55cfd6746fdcc1cb5a29350c5a39c742ae8...
1                                     size 157050855
0  oid sha256:dbef09960b9dd4392f144a05562af3639d8...
1                                     size 157811280

In [ ]:
# Let's add the number of rows of the 3 dataframes and see if the numbers match

len(df_2011)+len(df_2012)+len(df_2013)

6

In [ ]:
# Concat / Key parameter: set extra level of indices.
# Pass a list of keys to correspond to the dataframes

pd.concat(frames, keys=['2011','2012','2013'])

# The indices as years

               version https://git-lfs.github.com/spec/v1
2011 0  oid sha256:889cb25b86e8bd07b2aa82b253e3fcd0d8c...
     1                                     size 309076268
2012 0  oid sha256:55cfd6746fdcc1cb5a29350c5a39c742ae8...
     1                                     size 157050855
2013 0  oid sha256:dbef09960b9dd4392f144a05562af3639d8...
     1                                     size 157811280

## Pandas Idioms

In [ ]:
# Pandorable: pandas's idioms

import pandas as pd
import numpy as np

# Bring some timing functionality from the timeit module
import timeit

# Census data from US
df = pd.read_csv('census.csv')
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
0      40       3         6  ...     1.383282     1.724718    0.712594
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861

[5 rows x 100 columns]

In [ ]:
# METHOD CHAINING
# Every method on an object returns a reference to that object
# Condense many different operations into one statement of code

# Pandorable way to write code with method chaining
# This code:
# pull out the state and city names as a multiple index, for data that has
# a summary level of 50. Then rename a column

# Start the statement with (): tells python the code statement will be over multiple lines

(df.where(df['SUMLEV']==50) #where function and pass a boolean mask 
    .dropna() # with the results of where function, we drop miss values
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'}))

                           SUMLEV  REGION  ...  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME                            ...
Alabama Autauga County       50.0     3.0  ...     2.592270    -2.187333
        Baldwin County       50.0     3.0  ...    20.317142    18.293499
        Barbour County       50.0     3.0  ...    -3.978583   -10.543299
        Bibb County          50.0     3.0  ...     0.754533     1.107861
        Blount County        50.0     3.0  ...    -1.577232    -0.884411
...                           ...     ...  ...          ...          ...
Wyoming Sweetwater County    50.0     4.0  ...   -14.075283   -14.070195
        Teton County         50.0     4.0  ...    16.308671     1.520747
        Uinta County         50.0     4.0  ...   -14.740608   -12.606351
        Washakie County      50.0     4.0  ...   -18.020168     1.441961
        Weston County        50.0     4.0  ...     1.533635     6.935294

[3142 rows x 98 columns]

In [ ]:
# Traditional, non-pandorable way of writing the previous code

# 1st create a new dataframe from the original
df = df[df['SUMLEV']==50] # indexing operator [] which drops nans

# Update the df to have new index, inplace=True
df.set_index(['STNAME','CTYNAME'],inplace=True)

# Set the columns name
df.rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'})

                           SUMLEV  REGION  ...  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME                            ...
Alabama Autauga County         50       3  ...     2.592270    -2.187333
        Baldwin County         50       3  ...    20.317142    18.293499
        Barbour County         50       3  ...    -3.978583   -10.543299
        Bibb County            50       3  ...     0.754533     1.107861
        Blount County          50       3  ...    -1.577232    -0.884411
...                           ...     ...  ...          ...          ...
Wyoming Sweetwater County      50       4  ...   -14.075283   -14.070195
        Teton County           50       4  ...    16.308671     1.520747
        Uinta County           50       4  ...   -14.740608   -12.606351
        Washakie County        50       4  ...   -18.020168     1.441961
        Weston County          50       4  ...     1.533635     6.935294

[3142 rows x 98 columns]

In [ ]:
# Time both methods: put into a function and pass the function into the timeit function

# Function for the first approach. Return all 
def first_approach():
  global df
  # Pass the code right here
  return (df.where(df['SUMLEV']==50) 
              .dropna() 
              .set_index(['STNAME','CTYNAME'])
              .rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'}))
  
# Read in our new dataser

df = pd.read_csv('census.csv')

# Lets run it

timeit.timeit(first_approach,number=10) # 10 times this function will be run

0.2246381019999717

In [ ]:
# Second approach

def second_approach():
  global df
  new_df = df[df['SUMLEV']==50] 
  new_df.set_index(['STNAME','CTYNAME'],inplace=True)
  return new_df.rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'})

df = pd.read_csv('census.csv')

timeit.timeit(second_approach, number=10)

0.06699047899996913

In [ ]:
# Another idiom: map across all of the rows in a DataFrame. Function apply

# Census dataframe: 5 columns for each column corresponding one year of estimates
# We want to create some new columns for min or max values

# First, write a function which takes in a particular row of data, and finds
# a min and max values, and return a new row of data. We called this function min_max

def min_max(row):
  # Create some small slice of a row by projecting pop columns
  data = row[['POPESTIMATE2010',
              'POPESTIMATE2011',
              'POPESTIMATE2012',
              'POPESTIMATE2013',
              'POPESTIMATE2014',
              'POPESTIMATE2015']]
  # Create new series and use Numpy min and max functions            
  return pd.Series({'min':np.min(data), 'max':np.max(data)})

In [ ]:
# Apply takes the function and the axis on which to operate as parameters
# To apply across all rows, which is applying on all columns, pass axis == 'columns'

df.apply(min_max,axis='columns').head()

       min      max
0  4785161  4858979
1    54660    55347
2   183193   203709
3    26489    27341
4    22512    22861

In [ ]:
# Instead of returning a separate series to display, we add two new columns: min and max

def min_max(row):
  data = row[['POPESTIMATE2010',
              'POPESTIMATE2011',
              'POPESTIMATE2012',
              'POPESTIMATE2013',
              'POPESTIMATE2014',
              'POPESTIMATE2015']] 
  # Create a new entry for max:
  row['max']=np.max(data)
  # Create a new entrey for min;
  row['min']=np.min(data)
  return row

# Apply the function across the dataframe
df.apply(min_max,axis='columns')

      SUMLEV  REGION  DIVISION  ...  RNETMIG2015      max      min
0         40       3         6  ...     0.712594  4858979  4785161
1         50       3         6  ...    -2.187333    55347    54660
2         50       3         6  ...    18.293499   203709   183193
3         50       3         6  ...   -10.543299    27341    26489
4         50       3         6  ...     1.107861    22861    22512
...      ...     ...       ...  ...          ...      ...      ...
3188      50       4         8  ...   -14.070195    45162    43593
3189      50       4         8  ...     1.520747    23125    21297
3190      50       4         8  ...   -12.606351    21102    20822
3191      50       4         8  ...     1.441961     8545     8316
3192      50       4         8  ...     6.935294     7234     7065

[3193 rows x 102 columns]

In [ ]:
# Lambdas

# Calculate the max of the columns using the apply function

rows = ['POPESTIMATE2010', 'POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014', 'POPESTIMATE2015']

# Lambda is an unname function. In this case, takes a single parameter, x, and
# returns a single value: max over all columns associated with row x
df.apply(lambda x: np.max(x[rows]),axis=1).head()

0    4858979
1      55347
2     203709
3      27341
4      22861
dtype: int64

In [ ]:
# Divide the states into 4 categories: Northeast, Midwest, South and West

# Write a function

def get_state_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
                 'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest = ['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa',
               'Kansas','Minnesota','Missouri','Nebraska','North Dakota',
               'South Dakota']
    south = ['Delaware','Florida','Georgia','Maryland','North Carolina',
             'South Carolina','Virginia','District of Columbia','West Virginia',
             'Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
             'Louisiana','Oklahoma','Texas']
    west = ['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah',
            'Wyoming','Alaska','California','Hawaii','Oregon','Washington']
    if x in northeast:
      return "Northeast"
    elif x in midwest:
      return "Midwest"
    elif x in south:
      return "South"
    else:
      return "West"

In [ ]:
# Create a new column called Region, which shows the state's region

# The get_state_region is supposed to work on the state name column 'STNAME'
# Set the apply function on the state name column and pass the function into the apply

df['state_region']= df['STNAME'].apply(lambda x: get_state_region(x))

In [ ]:
# Lets see the results
df[['STNAME','state_region']].head()

    STNAME state_region
0  Alabama        South
1  Alabama        South
2  Alabama        South
3  Alabama        South
4  Alabama        South

## Groupby

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Splitting

# US Census
df = pd.read_csv('census.csv')
# Exlude state level summarization
df = df[df['SUMLEV']==50]
df.head()

In [ ]:
# Lets get a list of the unique states, then iterate over all states and for each the average

# Run it for 3 times and time it: cell magic function %%timeit

%%timeit -n 3

for state in df['STNAME'].unique():
  # Calculate the average for the particular state
  avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
  # Print it
  print('Counties in the state '+ state + ' have an avg population of ' + str(avg))

Counties in the state Alabama have an avg population of 71339.34328358209
Counties in the state Alaska have an avg population of 24490.724137931036
Counties in the state Arizona have an avg population of 426134.4666666667
Counties in the state Arkansas have an avg population of 38878.90666666667
Counties in the state California have an avg population of 642309.5862068966
Counties in the state Colorado have an avg population of 78581.1875
Counties in the state Connecticut have an avg population of 446762.125
Counties in the state Delaware have an avg population of 299311.3333333333
Counties in the state District of Columbia have an avg population of 601723.0
Counties in the state Florida have an avg population of 280616.5671641791
Counties in the state Georgia have an avg population of 60928.63522012578
Counties in the state Hawaii have an avg population of 272060.2
Counties in the state Idaho have an avg population of 35626.86363636364
Counties in the state Illinois have an avg population of 125790.50980392157
Counties in the state Indiana have an avg population of 70476.10869565218
Counties in the state Iowa have an avg population of 30771.262626262625
Counties in the state Kansas have an avg population of 27172.55238095238
Counties in the state Kentucky have an avg population of 36161.39166666667
Counties in the state Louisiana have an avg population of 70833.9375
Counties in the state Maine have an avg population of 83022.5625
Counties in the state Maryland have an avg population of 240564.66666666666
Counties in the state Massachusetts have an avg population of 467687.78571428574
Counties in the state Michigan have an avg population of 119080.0
Counties in the state Minnesota have an avg population of 60964.65517241379
Counties in the state Mississippi have an avg population of 36186.54878048781
Counties in the state Missouri have an avg population of 52077.62608695652
Counties in the state Montana have an avg population of 17668.125
Counties in the state Nebraska have an avg population of 19638.075268817203
Counties in the state Nevada have an avg population of 158855.9411764706
Counties in the state New Hampshire have an avg population of 131647.0
Counties in the state New Jersey have an avg population of 418661.61904761905
Counties in the state New Mexico have an avg population of 62399.36363636364
Counties in the state New York have an avg population of 312550.03225806454
Counties in the state North Carolina have an avg population of 95354.83
Counties in the state North Dakota have an avg population of 12690.396226415094
Counties in the state Ohio have an avg population of 131096.63636363635
Counties in the state Oklahoma have an avg population of 48718.844155844155
Counties in the state Oregon have an avg population of 106418.72222222222
Counties in the state Pennsylvania have an avg population of 189587.74626865672
Counties in the state Rhode Island have an avg population of 210513.4
Counties in the state South Carolina have an avg population of 100551.39130434782
Counties in the state South Dakota have an avg population of 12336.060606060606
Counties in the state Tennessee have an avg population of 66801.1052631579
Counties in the state Texas have an avg population of 98998.27165354331
Counties in the state Utah have an avg population of 95306.37931034483
Counties in the state Vermont have an avg population of 44695.78571428572
Counties in the state Virginia have an avg population of 60111.29323308271
Counties in the state Washington have an avg population of 172424.10256410256
Counties in the state West Virginia have an avg population of 33690.8
Counties in the state Wisconsin have an avg population of 78985.91666666667
Counties in the state Wyoming have an avg population of 24505.478260869564
Counties in the state Alabama have an avg population of 71339.34328358209
Counties in the state Alaska have an avg population of 24490.724137931036
Counties in the state Arizona have an avg population of 426134.4666666667
Counties in the state Arkansas have an avg population of 38878.90666666667
Counties in the state California have an avg population of 642309.5862068966
Counties in the state Colorado have an avg population of 78581.1875
Counties in the state Connecticut have an avg population of 446762.125
Counties in the state Delaware have an avg population of 299311.3333333333
Counties in the state District of Columbia have an avg population of 601723.0
Counties in the state Florida have an avg population of 280616.5671641791
Counties in the state Georgia have an avg population of 60928.63522012578
Counties in the state Hawaii have an avg population of 272060.2
Counties in the state Idaho have an avg population of 35626.86363636364
Counties in the state Illinois have an avg population of 125790.50980392157
Counties in the state Indiana have an avg population of 70476.10869565218
Counties in the state Iowa have an avg population of 30771.262626262625
Counties in the state Kansas have an avg population of 27172.55238095238
Counties in the state Kentucky have an avg population of 36161.39166666667
Counties in the state Louisiana have an avg population of 70833.9375
Counties in the state Maine have an avg population of 83022.5625
Counties in the state Maryland have an avg population of 240564.66666666666
Counties in the state Massachusetts have an avg population of 467687.78571428574
Counties in the state Michigan have an avg population of 119080.0
Counties in the state Minnesota have an avg population of 60964.65517241379
Counties in the state Mississippi have an avg population of 36186.54878048781
Counties in the state Missouri have an avg population of 52077.62608695652
Counties in the state Montana have an avg population of 17668.125
Counties in the state Nebraska have an avg population of 19638.075268817203
Counties in the state Nevada have an avg population of 158855.9411764706
Counties in the state New Hampshire have an avg population of 131647.0
Counties in the state New Jersey have an avg population of 418661.61904761905
Counties in the state New Mexico have an avg population of 62399.36363636364
Counties in the state New York have an avg population of 312550.03225806454
Counties in the state North Carolina have an avg population of 95354.83
Counties in the state North Dakota have an avg population of 12690.396226415094
Counties in the state Ohio have an avg population of 131096.63636363635
Counties in the state Oklahoma have an avg population of 48718.844155844155
Counties in the state Oregon have an avg population of 106418.72222222222
Counties in the state Pennsylvania have an avg population of 189587.74626865672
Counties in the state Rhode Island have an avg population of 210513.4
Counties in the state South Carolina have an avg population of 100551.39130434782
Counties in the state South Dakota have an avg population of 12336.060606060606
Counties in the state Tennessee have an avg population of 66801.1052631579
Counties in the state Texas have an avg population of 98998.27165354331
Counties in the state Utah have an avg population of 95306.37931034483
Counties in the state Vermont have an avg population of 44695.78571428572
Counties in the state Virginia have an avg population of 60111.29323308271
Counties in the state Washington have an avg population of 172424.10256410256
Counties in the state West Virginia have an avg population of 33690.8
Counties in the state Wisconsin have an avg population of 78985.91666666667
Counties in the state Wyoming have an avg population of 24505.478260869564
Counties in the state Alabama have an avg population of 71339.34328358209
Counties in the state Alaska have an avg population of 24490.724137931036
Counties in the state Arizona have an avg population of 426134.4666666667
Counties in the state Arkansas have an avg population of 38878.90666666667
Counties in the state California have an avg population of 642309.5862068966
Counties in the state Colorado have an avg population of 78581.1875
Counties in the state Connecticut have an avg population of 446762.125
Counties in the state Delaware have an avg population of 299311.3333333333
Counties in the state District of Columbia have an avg population of 601723.0
Counties in the state Florida have an avg population of 280616.5671641791
Counties in the state Georgia have an avg population of 60928.63522012578
Counties in the state Hawaii have an avg population of 272060.2
Counties in the state Idaho have an avg population of 35626.86363636364
Counties in the state Illinois have an avg population of 125790.50980392157
Counties in the state Indiana have an avg population of 70476.10869565218
Counties in the state Iowa have an avg population of 30771.262626262625
Counties in the state Kansas have an avg population of 27172.55238095238
Counties in the state Kentucky have an avg population of 36161.39166666667
Counties in the state Louisiana have an avg population of 70833.9375
Counties in the state Maine have an avg population of 83022.5625
Counties in the state Maryland have an avg population of 240564.66666666666
Counties in the state Massachusetts have an avg population of 467687.78571428574
Counties in the state Michigan have an avg population of 119080.0
Counties in the state Minnesota have an avg population of 60964.65517241379
Counties in the state Mississippi have an avg population of 36186.54878048781
Counties in the state Missouri have an avg population of 52077.62608695652
Counties in the state Montana have an avg population of 17668.125
Counties in the state Nebraska have an avg population of 19638.075268817203
Counties in the state Nevada have an avg population of 158855.9411764706
Counties in the state New Hampshire have an avg population of 131647.0
Counties in the state New Jersey have an avg population of 418661.61904761905
Counties in the state New Mexico have an avg population of 62399.36363636364
Counties in the state New York have an avg population of 312550.03225806454
Counties in the state North Carolina have an avg population of 95354.83
Counties in the state North Dakota have an avg population of 12690.396226415094
Counties in the state Ohio have an avg population of 131096.63636363635
Counties in the state Oklahoma have an avg population of 48718.844155844155
Counties in the state Oregon have an avg population of 106418.72222222222
Counties in the state Pennsylvania have an avg population of 189587.74626865672
Counties in the state Rhode Island have an avg population of 210513.4
Counties in the state South Carolina have an avg population of 100551.39130434782
Counties in the state South Dakota have an avg population of 12336.060606060606
Counties in the state Tennessee have an avg population of 66801.1052631579
Counties in the state Texas have an avg population of 98998.27165354331
Counties in the state Utah have an avg population of 95306.37931034483
Counties in the state Vermont have an avg population of 44695.78571428572
Counties in the state Virginia have an avg population of 60111.29323308271
Counties in the state Washington have an avg population of 172424.10256410256
Counties in the state West Virginia have an avg population of 33690.8
Counties in the state Wisconsin have an avg population of 78985.91666666667
Counties in the state Wyoming have an avg population of 24505.478260869564
Counties in the state Alabama have an avg population of 71339.34328358209
Counties in the state Alaska have an avg population of 24490.724137931036
Counties in the state Arizona have an avg population of 426134.4666666667
Counties in the state Arkansas have an avg population of 38878.90666666667
Counties in the state California have an avg population of 642309.5862068966
Counties in the state Colorado have an avg population of 78581.1875
Counties in the state Connecticut have an avg population of 446762.125
Counties in the state Delaware have an avg population of 299311.3333333333
Counties in the state District of Columbia have an avg population of 601723.0
Counties in the state Florida have an avg population of 280616.5671641791
Counties in the state Georgia have an avg population of 60928.63522012578
Counties in the state Hawaii have an avg population of 272060.2
Counties in the state Idaho have an avg population of 35626.86363636364
Counties in the state Illinois have an avg population of 125790.50980392157
Counties in the state Indiana have an avg population of 70476.10869565218
Counties in the state Iowa have an avg population of 30771.262626262625
Counties in the state Kansas have an avg population of 27172.55238095238
Counties in the state Kentucky have an avg population of 36161.39166666667
Counties in the state Louisiana have an avg population of 70833.9375
Counties in the state Maine have an avg population of 83022.5625
Counties in the state Maryland have an avg population of 240564.66666666666
Counties in the state Massachusetts have an avg population of 467687.78571428574
Counties in the state Michigan have an avg population of 119080.0
Counties in the state Minnesota have an avg population of 60964.65517241379
Counties in the state Mississippi have an avg population of 36186.54878048781
Counties in the state Missouri have an avg population of 52077.62608695652
Counties in the state Montana have an avg population of 17668.125
Counties in the state Nebraska have an avg population of 19638.075268817203
Counties in the state Nevada have an avg population of 158855.9411764706
Counties in the state New Hampshire have an avg population of 131647.0
Counties in the state New Jersey have an avg population of 418661.61904761905
Counties in the state New Mexico have an avg population of 62399.36363636364
Counties in the state New York have an avg population of 312550.03225806454
Counties in the state North Carolina have an avg population of 95354.83
Counties in the state North Dakota have an avg population of 12690.396226415094
Counties in the state Ohio have an avg population of 131096.63636363635
Counties in the state Oklahoma have an avg population of 48718.844155844155
Counties in the state Oregon have an avg population of 106418.72222222222
Counties in the state Pennsylvania have an avg population of 189587.74626865672
Counties in the state Rhode Island have an avg population of 210513.4
Counties in the state South Carolina have an avg population of 100551.39130434782
Counties in the state South Dakota have an avg population of 12336.060606060606
Counties in the state Tennessee have an avg population of 66801.1052631579
Counties in the state Texas have an avg population of 98998.27165354331
Counties in the state Utah have an avg population of 95306.37931034483
Counties in the state Vermont have an avg population of 44695.78571428572
Counties in the state Virginia have an avg population of 60111.29323308271
Counties in the state Washington have an avg population of 172424.10256410256
Counties in the state West Virginia have an avg population of 33690.8
Counties in the state Wisconsin have an avg population of 78985.91666666667
Counties in the state Wyoming have an avg population of 24505.478260869564
Counties in the state Alabama have an avg population of 71339.34328358209
Counties in the state Alaska have an avg population of 24490.724137931036
Counties in the state Arizona have an avg population of 426134.4666666667
Counties in the state Arkansas have an avg population of 38878.90666666667
Counties in the state California have an avg population of 642309.5862068966
Counties in the state Colorado have an avg population of 78581.1875
Counties in the state Connecticut have an avg population of 446762.125
Counties in the state Delaware have an avg population of 299311.3333333333
Counties in the state District of Columbia have an avg population of 601723.0
Counties in the state Florida have an avg population of 280616.5671641791
Counties in the state Georgia have an avg population of 60928.63522012578
Counties in the state Hawaii have an avg population of 272060.2
Counties in the state Idaho have an avg population of 35626.86363636364
Counties in the state Illinois have an avg population of 125790.50980392157
Counties in the state Indiana have an avg population of 70476.10869565218
Counties in the state Iowa have an avg population of 30771.262626262625
Counties in the state Kansas have an avg population of 27172.55238095238
Counties in the state Kentucky have an avg population of 36161.39166666667
Counties in the state Louisiana have an avg population of 70833.9375
Counties in the state Maine have an avg population of 83022.5625
Counties in the state Maryland have an avg population of 240564.66666666666
Counties in the state Massachusetts have an avg population of 467687.78571428574
Counties in the state Michigan have an avg population of 119080.0
Counties in the state Minnesota have an avg population of 60964.65517241379
Counties in the state Mississippi have an avg population of 36186.54878048781
Counties in the state Missouri have an avg population of 52077.62608695652
Counties in the state Montana have an avg population of 17668.125
Counties in the state Nebraska have an avg population of 19638.075268817203
Counties in the state Nevada have an avg population of 158855.9411764706
Counties in the state New Hampshire have an avg population of 131647.0
Counties in the state New Jersey have an avg population of 418661.61904761905
Counties in the state New Mexico have an avg population of 62399.36363636364
Counties in the state New York have an avg population of 312550.03225806454
Counties in the state North Carolina have an avg population of 95354.83
Counties in the state North Dakota have an avg population of 12690.396226415094
Counties in the state Ohio have an avg population of 131096.63636363635
Counties in the state Oklahoma have an avg population of 48718.844155844155
Counties in the state Oregon have an avg population of 106418.72222222222
Counties in the state Pennsylvania have an avg population of 189587.74626865672
Counties in the state Rhode Island have an avg population of 210513.4
Counties in the state South Carolina have an avg population of 100551.39130434782
Counties in the state South Dakota have an avg population of 12336.060606060606
Counties in the state Tennessee have an avg population of 66801.1052631579
Counties in the state Texas have an avg population of 98998.27165354331
Counties in the state Utah have an avg population of 95306.37931034483
Counties in the state Vermont have an avg population of 44695.78571428572
Counties in the state Virginia have an avg population of 60111.29323308271
Counties in the state Washington have an avg population of 172424.10256410256
Counties in the state West Virginia have an avg population of 33690.8
Counties in the state Wisconsin have an avg population of 78985.91666666667
Counties in the state Wyoming have an avg population of 24505.478260869564
Counties in the state Alabama have an avg population of 71339.34328358209
Counties in the state Alaska have an avg population of 24490.724137931036
Counties in the state Arizona have an avg population of 426134.4666666667
Counties in the state Arkansas have an avg population of 38878.90666666667
Counties in the state California have an avg population of 642309.5862068966
Counties in the state Colorado have an avg population of 78581.1875
Counties in the state Connecticut have an avg population of 446762.125
Counties in the state Delaware have an avg population of 299311.3333333333
Counties in the state District of Columbia have an avg population of 601723.0
Counties in the state Florida have an avg population of 280616.5671641791
Counties in the state Georgia have an avg population of 60928.63522012578
Counties in the state Hawaii have an avg population of 272060.2
Counties in the state Idaho have an avg population of 35626.86363636364
Counties in the state Illinois have an avg population of 125790.50980392157
Counties in the state Indiana have an avg population of 70476.10869565218

In [ ]:
%%timeit -n 3

# Tell panda to group by state name: this is the split

for group, frame in df.groupby('STNAME'):
  # groupby() returns a tuple. 1st value is the key we are trying to group by,
  # state name in this case ("group"). 2nd is the projected dataframe that 
  # was found for that group ("frame")

  # Calculate an average
  avg = np.average(frame['CENSUS2010POP'])
  # Print the results
  print('Counties in state '+ group +' have an avg population of '+ str(avg))

Counties in state Alabama have an avg population of 71339.34328358209
Counties in state Alaska have an avg population of 24490.724137931036
Counties in state Arizona have an avg population of 426134.4666666667
Counties in state Arkansas have an avg population of 38878.90666666667
Counties in state California have an avg population of 642309.5862068966
Counties in state Colorado have an avg population of 78581.1875
Counties in state Connecticut have an avg population of 446762.125
Counties in state Delaware have an avg population of 299311.3333333333
Counties in state District of Columbia have an avg population of 601723.0
Counties in state Florida have an avg population of 280616.5671641791
Counties in state Georgia have an avg population of 60928.63522012578
Counties in state Hawaii have an avg population of 272060.2
Counties in state Idaho have an avg population of 35626.86363636364
Counties in state Illinois have an avg population of 125790.50980392157
Counties in state Indiana have an avg population of 70476.10869565218
Counties in state Iowa have an avg population of 30771.262626262625
Counties in state Kansas have an avg population of 27172.55238095238
Counties in state Kentucky have an avg population of 36161.39166666667
Counties in state Louisiana have an avg population of 70833.9375
Counties in state Maine have an avg population of 83022.5625
Counties in state Maryland have an avg population of 240564.66666666666
Counties in state Massachusetts have an avg population of 467687.78571428574
Counties in state Michigan have an avg population of 119080.0
Counties in state Minnesota have an avg population of 60964.65517241379
Counties in state Mississippi have an avg population of 36186.54878048781
Counties in state Missouri have an avg population of 52077.62608695652
Counties in state Montana have an avg population of 17668.125
Counties in state Nebraska have an avg population of 19638.075268817203
Counties in state Nevada have an avg population of 158855.9411764706
Counties in state New Hampshire have an avg population of 131647.0
Counties in state New Jersey have an avg population of 418661.61904761905
Counties in state New Mexico have an avg population of 62399.36363636364
Counties in state New York have an avg population of 312550.03225806454
Counties in state North Carolina have an avg population of 95354.83
Counties in state North Dakota have an avg population of 12690.396226415094
Counties in state Ohio have an avg population of 131096.63636363635
Counties in state Oklahoma have an avg population of 48718.844155844155
Counties in state Oregon have an avg population of 106418.72222222222
Counties in state Pennsylvania have an avg population of 189587.74626865672
Counties in state Rhode Island have an avg population of 210513.4
Counties in state South Carolina have an avg population of 100551.39130434782
Counties in state South Dakota have an avg population of 12336.060606060606
Counties in state Tennessee have an avg population of 66801.1052631579
Counties in state Texas have an avg population of 98998.27165354331
Counties in state Utah have an avg population of 95306.37931034483
Counties in state Vermont have an avg population of 44695.78571428572
Counties in state Virginia have an avg population of 60111.29323308271
Counties in state Washington have an avg population of 172424.10256410256
Counties in state West Virginia have an avg population of 33690.8
Counties in state Wisconsin have an avg population of 78985.91666666667
Counties in state Wyoming have an avg population of 24505.478260869564
Counties in state Alabama have an avg population of 71339.34328358209
Counties in state Alaska have an avg population of 24490.724137931036
Counties in state Arizona have an avg population of 426134.4666666667
Counties in state Arkansas have an avg population of 38878.90666666667
Counties in state California have an avg population of 642309.5862068966
Counties in state Colorado have an avg population of 78581.1875
Counties in state Connecticut have an avg population of 446762.125
Counties in state Delaware have an avg population of 299311.3333333333
Counties in state District of Columbia have an avg population of 601723.0
Counties in state Florida have an avg population of 280616.5671641791
Counties in state Georgia have an avg population of 60928.63522012578
Counties in state Hawaii have an avg population of 272060.2
Counties in state Idaho have an avg population of 35626.86363636364
Counties in state Illinois have an avg population of 125790.50980392157
Counties in state Indiana have an avg population of 70476.10869565218
Counties in state Iowa have an avg population of 30771.262626262625
Counties in state Kansas have an avg population of 27172.55238095238
Counties in state Kentucky have an avg population of 36161.39166666667
Counties in state Louisiana have an avg population of 70833.9375
Counties in state Maine have an avg population of 83022.5625
Counties in state Maryland have an avg population of 240564.66666666666
Counties in state Massachusetts have an avg population of 467687.78571428574
Counties in state Michigan have an avg population of 119080.0
Counties in state Minnesota have an avg population of 60964.65517241379
Counties in state Mississippi have an avg population of 36186.54878048781
Counties in state Missouri have an avg population of 52077.62608695652
Counties in state Montana have an avg population of 17668.125
Counties in state Nebraska have an avg population of 19638.075268817203
Counties in state Nevada have an avg population of 158855.9411764706
Counties in state New Hampshire have an avg population of 131647.0
Counties in state New Jersey have an avg population of 418661.61904761905
Counties in state New Mexico have an avg population of 62399.36363636364
Counties in state New York have an avg population of 312550.03225806454
Counties in state North Carolina have an avg population of 95354.83
Counties in state North Dakota have an avg population of 12690.396226415094
Counties in state Ohio have an avg population of 131096.63636363635
Counties in state Oklahoma have an avg population of 48718.844155844155
Counties in state Oregon have an avg population of 106418.72222222222
Counties in state Pennsylvania have an avg population of 189587.74626865672
Counties in state Rhode Island have an avg population of 210513.4
Counties in state South Carolina have an avg population of 100551.39130434782
Counties in state South Dakota have an avg population of 12336.060606060606
Counties in state Tennessee have an avg population of 66801.1052631579
Counties in state Texas have an avg population of 98998.27165354331
Counties in state Utah have an avg population of 95306.37931034483
Counties in state Vermont have an avg population of 44695.78571428572
Counties in state Virginia have an avg population of 60111.29323308271
Counties in state Washington have an avg population of 172424.10256410256
Counties in state West Virginia have an avg population of 33690.8
Counties in state Wisconsin have an avg population of 78985.91666666667
Counties in state Wyoming have an avg population of 24505.478260869564
Counties in state Alabama have an avg population of 71339.34328358209
Counties in state Alaska have an avg population of 24490.724137931036
Counties in state Arizona have an avg population of 426134.4666666667
Counties in state Arkansas have an avg population of 38878.90666666667
Counties in state California have an avg population of 642309.5862068966
Counties in state Colorado have an avg population of 78581.1875
Counties in state Connecticut have an avg population of 446762.125
Counties in state Delaware have an avg population of 299311.3333333333
Counties in state District of Columbia have an avg population of 601723.0
Counties in state Florida have an avg population of 280616.5671641791
Counties in state Georgia have an avg population of 60928.63522012578
Counties in state Hawaii have an avg population of 272060.2
Counties in state Idaho have an avg population of 35626.86363636364
Counties in state Illinois have an avg population of 125790.50980392157
Counties in state Indiana have an avg population of 70476.10869565218
Counties in state Iowa have an avg population of 30771.262626262625
Counties in state Kansas have an avg population of 27172.55238095238
Counties in state Kentucky have an avg population of 36161.39166666667
Counties in state Louisiana have an avg population of 70833.9375
Counties in state Maine have an avg population of 83022.5625
Counties in state Maryland have an avg population of 240564.66666666666
Counties in state Massachusetts have an avg population of 467687.78571428574
Counties in state Michigan have an avg population of 119080.0
Counties in state Minnesota have an avg population of 60964.65517241379
Counties in state Mississippi have an avg population of 36186.54878048781
Counties in state Missouri have an avg population of 52077.62608695652
Counties in state Montana have an avg population of 17668.125
Counties in state Nebraska have an avg population of 19638.075268817203
Counties in state Nevada have an avg population of 158855.9411764706
Counties in state New Hampshire have an avg population of 131647.0
Counties in state New Jersey have an avg population of 418661.61904761905
Counties in state New Mexico have an avg population of 62399.36363636364
Counties in state New York have an avg population of 312550.03225806454
Counties in state North Carolina have an avg population of 95354.83
Counties in state North Dakota have an avg population of 12690.396226415094
Counties in state Ohio have an avg population of 131096.63636363635
Counties in state Oklahoma have an avg population of 48718.844155844155
Counties in state Oregon have an avg population of 106418.72222222222
Counties in state Pennsylvania have an avg population of 189587.74626865672
Counties in state Rhode Island have an avg population of 210513.4
Counties in state South Carolina have an avg population of 100551.39130434782
Counties in state South Dakota have an avg population of 12336.060606060606
Counties in state Tennessee have an avg population of 66801.1052631579
Counties in state Texas have an avg population of 98998.27165354331
Counties in state Utah have an avg population of 95306.37931034483
Counties in state Vermont have an avg population of 44695.78571428572
Counties in state Virginia have an avg population of 60111.29323308271
Counties in state Washington have an avg population of 172424.10256410256
Counties in state West Virginia have an avg population of 33690.8
Counties in state Wisconsin have an avg population of 78985.91666666667
Counties in state Wyoming have an avg population of 24505.478260869564
Counties in state Alabama have an avg population of 71339.34328358209
Counties in state Alaska have an avg population of 24490.724137931036
Counties in state Arizona have an avg population of 426134.4666666667
Counties in state Arkansas have an avg population of 38878.90666666667
Counties in state California have an avg population of 642309.5862068966
Counties in state Colorado have an avg population of 78581.1875
Counties in state Connecticut have an avg population of 446762.125
Counties in state Delaware have an avg population of 299311.3333333333
Counties in state District of Columbia have an avg population of 601723.0
Counties in state Florida have an avg population of 280616.5671641791
Counties in state Georgia have an avg population of 60928.63522012578
Counties in state Hawaii have an avg population of 272060.2
Counties in state Idaho have an avg population of 35626.86363636364
Counties in state Illinois have an avg population of 125790.50980392157
Counties in state Indiana have an avg population of 70476.10869565218
Counties in state Iowa have an avg population of 30771.262626262625
Counties in state Kansas have an avg population of 27172.55238095238
Counties in state Kentucky have an avg population of 36161.39166666667
Counties in state Louisiana have an avg population of 70833.9375
Counties in state Maine have an avg population of 83022.5625
Counties in state Maryland have an avg population of 240564.66666666666
Counties in state Massachusetts have an avg population of 467687.78571428574
Counties in state Michigan have an avg population of 119080.0
Counties in state Minnesota have an avg population of 60964.65517241379
Counties in state Mississippi have an avg population of 36186.54878048781
Counties in state Missouri have an avg population of 52077.62608695652
Counties in state Montana have an avg population of 17668.125
Counties in state Nebraska have an avg population of 19638.075268817203
Counties in state Nevada have an avg population of 158855.9411764706
Counties in state New Hampshire have an avg population of 131647.0
Counties in state New Jersey have an avg population of 418661.61904761905
Counties in state New Mexico have an avg population of 62399.36363636364
Counties in state New York have an avg population of 312550.03225806454
Counties in state North Carolina have an avg population of 95354.83
Counties in state North Dakota have an avg population of 12690.396226415094
Counties in state Ohio have an avg population of 131096.63636363635
Counties in state Oklahoma have an avg population of 48718.844155844155
Counties in state Oregon have an avg population of 106418.72222222222
Counties in state Pennsylvania have an avg population of 189587.74626865672
Counties in state Rhode Island have an avg population of 210513.4
Counties in state South Carolina have an avg population of 100551.39130434782
Counties in state South Dakota have an avg population of 12336.060606060606
Counties in state Tennessee have an avg population of 66801.1052631579
Counties in state Texas have an avg population of 98998.27165354331
Counties in state Utah have an avg population of 95306.37931034483
Counties in state Vermont have an avg population of 44695.78571428572
Counties in state Virginia have an avg population of 60111.29323308271
Counties in state Washington have an avg population of 172424.10256410256
Counties in state West Virginia have an avg population of 33690.8
Counties in state Wisconsin have an avg population of 78985.91666666667
Counties in state Wyoming have an avg population of 24505.478260869564
Counties in state Alabama have an avg population of 71339.34328358209
Counties in state Alaska have an avg population of 24490.724137931036
Counties in state Arizona have an avg population of 426134.4666666667
Counties in state Arkansas have an avg population of 38878.90666666667
Counties in state California have an avg population of 642309.5862068966
Counties in state Colorado have an avg population of 78581.1875
Counties in state Connecticut have an avg population of 446762.125
Counties in state Delaware have an avg population of 299311.3333333333
Counties in state District of Columbia have an avg population of 601723.0
Counties in state Florida have an avg population of 280616.5671641791
Counties in state Georgia have an avg population of 60928.63522012578
Counties in state Hawaii have an avg population of 272060.2
Counties in state Idaho have an avg population of 35626.86363636364
Counties in state Illinois have an avg population of 125790.50980392157
Counties in state Indiana have an avg population of 70476.10869565218
Counties in state Iowa have an avg population of 30771.262626262625
Counties in state Kansas have an avg population of 27172.55238095238
Counties in state Kentucky have an avg population of 36161.39166666667
Counties in state Louisiana have an avg population of 70833.9375
Counties in state Maine have an avg population of 83022.5625
Counties in state Maryland have an avg population of 240564.66666666666
Counties in state Massachusetts have an avg population of 467687.78571428574
Counties in state Michigan have an avg population of 119080.0
Counties in state Minnesota have an avg population of 60964.65517241379
Counties in state Mississippi have an avg population of 36186.54878048781
Counties in state Missouri have an avg population of 52077.62608695652
Counties in state Montana have an avg population of 17668.125
Counties in state Nebraska have an avg population of 19638.075268817203
Counties in state Nevada have an avg population of 158855.9411764706
Counties in state New Hampshire have an avg population of 131647.0
Counties in state New Jersey have an avg population of 418661.61904761905
Counties in state New Mexico have an avg population of 62399.36363636364
Counties in state New York have an avg population of 312550.03225806454
Counties in state North Carolina have an avg population of 95354.83
Counties in state North Dakota have an avg population of 12690.396226415094
Counties in state Ohio have an avg population of 131096.63636363635
Counties in state Oklahoma have an avg population of 48718.844155844155
Counties in state Oregon have an avg population of 106418.72222222222
Counties in state Pennsylvania have an avg population of 189587.74626865672
Counties in state Rhode Island have an avg population of 210513.4
Counties in state South Carolina have an avg population of 100551.39130434782
Counties in state South Dakota have an avg population of 12336.060606060606
Counties in state Tennessee have an avg population of 66801.1052631579
Counties in state Texas have an avg population of 98998.27165354331
Counties in state Utah have an avg population of 95306.37931034483
Counties in state Vermont have an avg population of 44695.78571428572
Counties in state Virginia have an avg population of 60111.29323308271
Counties in state Washington have an avg population of 172424.10256410256
Counties in state West Virginia have an avg population of 33690.8
Counties in state Wisconsin have an avg population of 78985.91666666667
Counties in state Wyoming have an avg population of 24505.478260869564
Counties in state Alabama have an avg population of 71339.34328358209
Counties in state Alaska have an avg population of 24490.724137931036
Counties in state Arizona have an avg population of 426134.4666666667
Counties in state Arkansas have an avg population of 38878.90666666667
Counties in state California have an avg population of 642309.5862068966
Counties in state Colorado have an avg population of 78581.1875
Counties in state Connecticut have an avg population of 446762.125
Counties in state Delaware have an avg population of 299311.3333333333
Counties in state District of Columbia have an avg population of 601723.0
Counties in state Florida have an avg population of 280616.5671641791
Counties in state Georgia have an avg population of 60928.63522012578
Counties in state Hawaii have an avg population of 272060.2
Counties in state Idaho have an avg population of 35626.86363636364
Counties in state Illinois have an avg population of 125790.50980392157
Counties in state Indiana have an avg population of 70476.10869565218
Counties in state Iowa have an avg population of 30771.262626262625
Counties in state Kansas have an avg population of 27172.55238095238
Counties in state Kentucky have an avg population of 36161.39166666667
Counties in state Louisiana have an avg population of 70833.9375
Counties in state Maine have an avg population of 83022.5625
Counties in state Maryland have an avg population of 240564.66666666666
Counties in state Massachusetts have an avg population of 467687.78571428574
Counties in state Michigan have an avg population of 119080.0
Counties in state Minnesota have an avg population of 60964.65517241379
Counties in state Mississippi have an avg population of 36186.54878048781
Counties in state Missouri have an avg population of 52077.62608695652
Counties in state Montana have an avg population of 17668.125
Counties in state Nebraska have an avg population of 19638.075268817203
Counties in state Nevada have an avg population of 158855.9411764706
Counties in state New Hampshire have an avg population of 131647.0

In [ ]:
# Provide a function to groupby and use that to segment your data

# Create function which returns a number between 0 and 2 based on the 1st character
# of the state name
# Then, tell groupby to use this function to split up our dataframe
# IMPORTANT: you need to set the index to be the column you want to groupby first

# Create new function set_batch_number
# If the 1st letter of the parameter is a capital M we'll return 0
# If it is Q, return 1. Otherwise, return 2

df= df.set_index('STNAME')

def set_batch_number(item):
  if item[0]<'M':
    return 0
  if item[0]<'Q':
    return 1
  return 2

# Dataframe grouped by according to the bacth number. 
# We loop through each batch group

for group, frame in df.groupby(set_batch_number):
  print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

There are 1177 records in group 0 for processing.
There are 1134 records in group 1 for processing.
There are 831 records in group 2 for processing.

In [ ]:
# Dataset: housing of airbnb

df = pd.read_csv('listings.csv')
df.head()

         id  ... reviews_per_month
0  12147973  ...               NaN
1   3075044  ...              1.30
2      6976  ...              0.47
3   1436513  ...              1.00
4   7651065  ...              2.25

[5 rows x 95 columns]

In [ ]:
# Group by both of these columns
# 1st approach: multiindex

df=df.set_index(['cancellation_policy','review_scores_value'])

# When having multindex, we need to pass the levels

for group, frame in df.groupby(level=(0,1)):
  print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [ ]:
# Group by cancellation policy and review score, but separate out all 10's from nott 10's

def grouping_fun(item):
  # Check the review_score_value portion of the index.
  # item is in the format of (cancellation, review)
  if item[1]==10.0:
    return (item[0],"10.0")
  else:
    return (item[0],"not 10.0")

for group, frame in df.groupby(by=grouping_fun):
  print(group)

('flexible', '10.0')
('flexible', 'not 10.0')
('moderate', '10.0')
('moderate', 'not 10.0')
('strict', '10.0')
('strict', 'not 10.0')
('super_strict_30', '10.0')
('super_strict_30', 'not 10.0')

### Aggregation

Agg() returns a single value per column, so one row per group

In [ ]:
# Agg() on he groupby object
# With Agg() we can pass in a dictionary of the columns we are interested
# in aggregation along with the function we are looking to apply to aggregate

# Lets reset the index for the airbnb data

df=df.reset_index()

# Lets group by the cancellation policy abd find the average review scores by group

df.groupby('cancellation_policy').agg({'review_scores_value':np.average})

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [ ]:
# What is the problem?
# There is a bunch of no numbers. np.average does not ignore NaNs

df.groupby('cancellation_policy').agg({'review_scores_value':np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [ ]:
# Aggregate by multiple functions or multiple columns

# df.groupby(): a groupby on the data frame by the column 'cancelation'-> new object
# Then, we invoke the agg() to that object
# df.groupby('xxx').agg(): the agg() function is going to apply one or more functions
# to the group dataframes and return a single row per group

df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean, np.nanstd),
                                       'reviews_per_month':np.nanmean})

# We have two dictionaries entries. Each indicating which columns we wanted functions
# applied to

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

### Transformation

Transform() returns an object that is the same size as the group

In [ ]:
# Include the average rating values in a given group by cancellation policy,
# but preserve the dataframe shape

# Define a subset of columns we are interested in

cols = ['cancellation_policy','review_scores_value']

# Transform it and store in its own data frame
transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [19]:
# Both dataframes have the same indeces

# Rename the column in the transformed version 
transform_df.rename({'review_scores_value':'mean_review_scores'},axis='columns',inplace=True)

# Merge both dataframes
df=df.merge(transform_df,left_index=True,right_index=True)
df.head()

   level_0  index  ...  review_scores_value mean_review_scores_y
0        0      0  ...             9.307398             9.307398
1        1      1  ...             9.307398             9.307398
2        2      2  ...             9.307398             9.307398
3        3      3  ...             9.307398             9.307398
4        4      4  ...             9.237421             9.237421

[5 rows x 103 columns]

In [ ]:
# Create the difference between a given row and its group mean

# Create new variable mean_diff and apply absolute
df['mean_diff']=np.absolute(df['review_scores_value']-df['mean_review_scores'])
df['mean_diff'].head()

### Filtering

### Applying