<a href="https://colab.research.google.com/github/irinavalenzuela/Applied-Data-Science-Python/blob/main/Week2_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Data Science in Python

## Week 2: Introduction to Pandas and Series Data

## The Series Data Structure

In [2]:
# Lets import Pandas
import pandas as pd

In [3]:
# Create series of school records for students
record1 = pd.Series({'Name':'Alice','Class':'Physics','Score':85})
record2 = pd.Series({'Name':'Jack','Class':'Chemistry','Score':82})
record3 = pd.Series({'Name':'Helen','Class':'Biology','Score':90})

In [5]:
# Dataframe is index. Group of series
# Each series represent a row of data

df = pd.DataFrame([record1, record2, record3], index=['school1','school2','school1'])

df.head()

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [6]:
# DataFrame is 2 dimensional
# Extract data using .iloc or .loc attributes

df.loc['school2']

Name          Jack
Class    Chemistry
Score           82
Name: school2, dtype: object

In [7]:
# Check the data type

type(df.loc['school2'])

pandas.core.series.Series